## Ignore build output
bin/
obj/

## User-specific files
.idea/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

## ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## .NET Core
# Windows Installer
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vsix

# Windows-specific files
Thumbs.db
Desktop.ini

## Ignore files created by JetBrains Rider
.idea/

## Ignore temporary ASP.NET files
_aspnetgenerate/
